#topMain{
  position: sticky;
  top: 0; 

  padding-bottom: 10px;


}
.barTop {
  display: grid;
  grid-template-columns:20% 12% 12% 12% 12% 12%  20% ;
  color: rgb(39, 161, 161);
  background: url(https://tse2.mm.bing.net/th?id=OIP.ERdVAZEos975_yh18JCjigHaEK&pid=Api&P=0&w=302&h=170);
}
.logoBar{
  width:50%;
}
.textBar{
  font-weight: bold;
  font-size:25px;
  padding-top: 40px;
}
#mainMid{
  margin-left:20% ;
  margin-right:20% ;
}
.button {
  text-decoration: none;
  background-color: rgb(192, 135, 11);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block; }
#fixed{
  position:fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
#botEnd{
  display: grid;
  grid-template-columns:15% 15% 70%;
  margin-bottom: 5px;
}
.phanDauEnd{
  background-color: #5dabca;
  padding: 20px 10px 20px 0;
}
.imgEnd{
  max-width: 20%;
  height: auto;
  
}
.textEnd{
  padding-top: 30px;
  font-weight: bold;
}
.phanHaiEnd{
  background-color:#f1f2f2;
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  text-align: center;
  padding: 20px 10px 20px 0;
}
.color{
  background-color: #5dabca;
}


main {
  width:100%;
}
h1, h2, h3 {
  margin: 0 0 0.35em;
  font-weight: bold;
}
h1 {
  background-color:rgb(46, 53, 37);
  font-size:40px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:center;
}
h2 {
  font-size: 30px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300;
  height: 300;
}


.card-row {
  display: grid;
  grid-template-columns: max-content  max-content max-content;
  grid-template-rows:auto  auto auto;
  grid-gap:30px;
}
.card {
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
  max-width: 299px;
  max-height: 450px;
  display: block;
}
.card h3 em {
  padding: 0.25em;
  background-color: #d4c686;
  border-radius: 4px;
}
.card h3 {
  color: rgb(112, 119, 93);
  align-items: start;
}
.button {
  text-decoration: none;
  background-color: rgb(192, 135, 11);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block; }

  #support ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
#support a {
    text-decoration: none;
    color: #333;
}
 
 
/* Style Css */
 
 
/* Icon Click */
 
#support {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    z-index: 99999;
}
 
#iconChat {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #189eff;
    cursor: pointer;
    border-radius: 99px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
 
#iconChat:before {
    content: "\f1d8";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 10px;
    left: 10px;
    color: #189eff;
    background: #fff;
    border-radius: 99px;
}
 
 
/* Style Option Tab */
 
#option {
    background: center no-repeat #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    width: 235px;
    position: absolute;
    bottom: 60px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 14px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-transform-origin: 80% 105%;
    -ms-transform-origin: 80% 105%;
    transform-origin: 80% 105%;
    -webkit-transition: ease-out .12s all;
    -o-transition: ease-out .12s all;
    transition: ease-out .12s all;
    z-index: 10000;
    display: none
}
 
#option:before {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 25px;
    left: auto;
    display: inline-block!important;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    border-left: 10px solid transparent;
}
 
#option li {
    width: 100%;
}
 
#option li a {
    display: inline-block;
    padding: 8px 10px;
}
 
#option li:hover {
    background: #eee;
}
 
#option li a i {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #189eff;
    text-align: center;
    border-radius: 99px;
    color: #fff;
    margin-right: 8px;
}
 
 
/* Background Icon */
 
#option li a i.fa-facebook-messenger {
    background: #0078FF;
}
 
#option li a i.fa-phone {
    background: #4EB625;
}
 
#option li a i.fa-code {
    background: #000;
}
 
#option li a i.fa-eye {
    background: #FF643A;
}

#registratior_custom {
  width: 100%;
  /* padding-top: 50px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.6);
  position: fixed;
  top: 0;
  z-index: 999999999999999999999999;
  /* display: none; */
}
#registratior_custom form {
  width: 50%;
  position: relative;
  margin: auto;
  padding-left: 20%;
  background: url(https://scontent.fsgn8-2.fna.fbcdn.net/v/t39.30808-6/p235x350/273748272_3211129175774689_900424190237435274_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=38_QbV7XSBcAX_CbUUA&tn=SHv7Oc6MxjkVZ2B0&_nc_ht=scontent.fsgn8-2.fna&oh=00_AT9h-A60a87vdtZ8mcfwUw-1XkCvH2cGupuCHImadNH8Fw&oe=620B6B78)
    no-repeat center/cover;
  width: 832px;
  height: 680px;
}
#registratior_custom form .content {
  background-color: rgba(245, 247, 246, 0.87);
  padding: 20px 20px 0px 20px;
  margin-top: 490px;
  margin-left: 200px;
}
#registratior_custom form .content h3 {
  font-size: 24px;
  margin: 0px 0px 10px;
  font-weight: 500;
}
#registratior_custom form .content p {
  font-size: 14px;
  margin-bottom: 5px;
}
#registratior_custom form .content #x-close {
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 2px 10px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 24px;
  cursor: pointer;
}
#registratior_custom form .content ul {
  margin: initial;
  padding: initial;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#registratior_custom form .content input {
  margin: initial;
  padding: initial;
  display: block;
  width: 90%;
  outline: none;
  border: none;
  padding: 10px 20px;
}
#registratior_custom form .content button {
  margin: initial;
  padding: initial;
  display: block;
  width: 100%;
  outline: none;
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  background-color: #000 !important;
  color: #fff;
  margin-bottom: 60px;
}
#registratior_custom form .content button:hover {
  background-color: #fff !important;
  transition: step-end 0.2s;
  border: 1px solid #e7e7e7;
}
#registratior_custom form .content button:hover p {
  color: #e5f5f1 !important;
  transition: step-end 0.2s;
}
#registratior_custom form .content button p {
  margin: initial;
  padding: initial;
  font-weight: 600 !important;
 
}
.sl1{
  top: 310px;
  position: fixed; 
  left: 86%;
  margin-right: 10px; 

  
}